{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Caroufree{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    {% block css_files %}{% endblock %} 
</head>
<body>
    <header id="main-navigation">
        <img src="https://storage.googleapis.com/carousell-wordpress-files/1/2019/09/Carousell-logo-square.png" alt="Caroufree logo" id="logo"/>
        <h1><a href="">Caroufree</a></h1>
        <nav>
            <a href="">All Listings</a>
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}  
</body>
</html>