{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Caroufree{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}">
    {% block css_files %}{% endblock %} 
</head>
<body>
    <header id="main-navigation">
        <a href="{% url "starting-page" %}"><img src="https://storage.googleapis.com/carousell-wordpress-files/1/2019/09/Carousell-logo-square.png" alt="Caroufree logo" id="logo"/></a>
        <h1><a href="{% url "starting-page" %}">Caroufree</a></h1>
        <nav>
            {% if request.user.is_authenticated %}
                <span>Hello, {{request.user}}</span>
                <a href="{% url "listings-page" %}">All</a>
                <a href="{% url "new-listing-page" %}">New</a>
                <a href="{% url "inbox-page" %}">Inbox</a>
                <a href="{% url "logout-page" %}">Logout</a>
            {% else %}
                <a href="{% url "listings-page" %}">All</a>
                <a href="{% url "login-page" %}">Login</a>
                <a href="{% url "register-page" %}">Register</a>
            {% endif %}
            
        </nav>
    </header>
    
    {% block content %}
    {% endblock %}  
</body>
</html>