#welcome {
    background: linear-gradient(to top, rgb(173, 0, 0), rgb(113, 0, 0));
    padding: 6rem 12%;
}

#welcome header {
    display: flex;
    align-items: flex-start;
    margin: 3rem auto;
}

#welcome img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 12px;
    background-color: #ffe1bf;
    transform: rotateZ(-5deg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#welcome h2 {
    font-size: 3.5rem;
    margin: 0 0 0 2rem;
    color: #e4e4e4;
    width: 10rem;
}

#welcome p {
    color: white;
    font-size: 1.5rem;
}

#latest-listings {
    background-color: rgb(40, 40, 40);
    padding: 2rem;
    border-radius: 12px;
    /* width: 60rem; */
    margin: -6rem auto -1rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

#latest-listings h2 {
    text-align: center;
    color: white;
}

#latest-listings ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

#latest-listings li {
    flex: 1;
}

#about {
    text-align: center;
    padding: 1rem;
    background-color: black;
    margin-top: 0rem;
}

#about h2 {
    font-size: 1.5rem;
    color: white;
}

#about p {
    font-size: 1rem;
    color: white;
}