body {
    background-color: #e7e7e7;
  }
  
  #main-navigation {
    background-color: rgb(173, 0, 0);
    box-shadow: 0 2px 8px rgba(243, 88, 88, 0.25);
  }
  
  #details {
    display: flex;
    margin: 1rem auto 1rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: rgb(221, 97, 97);
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: auto;
  }
  
  #details h2 {
    color: white;
    font-size: 2rem;
  }
  
  #details article {
    padding: 0rem 2rem;
    text-align: left;
    color: white;
  }
  
  #details img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    border: 5px solid white;
    margin-bottom: 1rem;
  }
  
  #details address {
    font-weight: bold;
  }
  
  #details time {
    font-weight: bold;
  } 
  
  main {
    width: 90%;
    max-width: 90rem;
    margin: 1rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  #back {
    margin: 6rem auto 0rem 3rem;
  }