{% extends "base.html" %}
{% load static %}

{% block title %}
    ALl Listings
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "displays/partials/listing.css"%}">
    <link rel="stylesheet" href="{% static "displays/all-listings.css"%}">
{% endblock %}

{% block content %}
<section id="all-listings">
    <h2>All Listings</h2>

    <ul>
        {% for listing in listings %}
            {% include "displays/partials/listing.html" %}
        {% endfor %}
    </ul>
</section>
{% endblock %} 
