{% extends "base.html" %}
{% load static %}

{% block title %}
    Inbox
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "displays/thread.css"%}">
{% endblock %}

{% block content %}
    <div class="clearfix">
        <form method="GET" action="{% url 'create-thread-page' %}">
            <button class="btn btn-primary float-right m-2" type="submit">New Message</button>
        </form>
        <h3 class="alert-info text-left p-2 pl-4 m-0">Inbox</h3>
    </div>
    <div class="container mt-3 mx-auto">
        {% for thread in threads %}
            <a href="{% url 'thread-page' thread.pk %}" style="text-decoration:none">
                <div class="card" id="thread-card">
                    <h5 class="m-3 text-dark">
                        {% if request.user == thread.user %}
                            {{ thread.receiver }}
                        {% else %}
                            {{ thread.user }} 
                        {% endif %}
                    </h5>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %} 

