{% extends "base.html" %}
{% load static %}

{% block title %}
    Caroufree
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "displays/index.css"%}">
{% endblock %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Caroufree</a></h1>
        <nav>
            <a href="">All Listings</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Caroufree" />
            <h2></h2>
        </header>
        <p>A place to declutter in Singapore. Give away your reusables as we care for the Earth!</p>
    </section>

    <section id="latest-listings">
        <h2>Latest Listings</h2>
        <ul>
            <li>
                <article class="listing">
                    <a href="">
                        <img src="" alt="" />
                        <div class="listing__content">
                            <h3>Name</h3>
                            <p>Description</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>
    
    <section id="about">
        <h2>What We Do</h2>
        <p>
            We provide a platform to bridge the gap between givers and takers.
        </p>
        <p>
            Our goal is to create opportunities for people to be a part of preserving and conserving the environment, because we believe there is so much that we can contribute to our Mother Nature!
        </p>
    </section>
     
{% endblock %} 
