{% extends "base.html" %}
{% load static %}

{% block title %}
    Caroufree
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "displays/partials/listing.css"%}">
    <link rel="stylesheet" href="{% static "displays/index.css"%}">
{% endblock %}

{% block content %}

    <section id="welcome">
        <p>A place to declutter in Singapore. Give away your reusables as we care for the Earth!</p>
    </section>

    <section id="latest-listings">
        <h2>Latest Listings</h2>
        <ul>
            {% for listing in listings %}
                {% include "displays/partials/listing.html" %}
            {% endfor %}
        </ul>
    </section>
    
    <section id="about">
        <h2>What We Do</h2>
        <p>
            We provide a platform to bridge the gap between givers and takers.
        </p>
        <p>
            Our goal is to create opportunities for people to be a part of preserving and conserving the environment, because we believe there is so much that we can contribute to our Mother Nature!
        </p>
    </section>
{% endblock %} 
