{% extends "base.html" %}
{% load static %}

{% block title %}
    Listing Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "displays/listing-detail.css"%}">
{% endblock %}

{% block content %}
    <section id="details">
        <img src="{{ listing.image.url }}" alt="{{ listing.title }}" />
        <article>
            <h2>{{ listing.title }}</h2>
            <address>By <a href="mailto:{{ listing.author.email_address }}">{{ listing.author.username }}</a></address>
            <div>
                Posted on <time>{{ listing.date }}</time>
            </div>
        </article>
    </section>
    <main>
        <h3>Description</h3>
        <p>
            {{ listing.description }}
    </main>
{% endblock %} 