{% extends "base.html" %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "displays/forms.css"%}">
{% endblock %}

{% block content %}
    {% if form.errors %}
        <div id="alert">
            <h2>Fail to register</h2>
            <p>Please check the form and update accordingly.</p>
        </div>
    {% endif %}
    <section id="form">
        <h2>Register</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {% for form_field in form %}
                <div class="form-control {% if form_field.errors %}invalid{%endif%}"">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button>Register</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </section>
{% endblock %} 